:root {
    --primaryColor: #5E40A4;
    --hoverColor: #cbc0d3;
    --white: #fff;
    --lightWhite: #efefef;
    --black: #444444;
    --lightBlack: #575757;
    --grey: #7C7C7C;
    --purple: #c77dff;
    --pink: #ffdab9;
}