* {
    font-family: 'Hyundai Sans Head Office';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}


*,
*::after,
*::before {
    box-sizing: border-box;

}

html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
blockquote {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}