/* Global Styles */
:root {
    --primaryColor: #5E40A4;
    --hoverColor: #cbc0d3;


}

* {
    font-family: 'Hyundai Sans Head Office';
    margin: 0;
    padding: 0;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
blockquote {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
header {
    background: white;
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.nav-menu {
    align-items: center;
    display: flex;
    height: 4.7rem;
    justify-content: space-between;
    margin: 0 1.25rem;

}

.hamburger-menu {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.hamburger-menu span {
    background: var(--primaryColor);
    border-radius: 0.125rem;
    height: .2rem;
    margin-bottom: 4px;
    width: 1.375rem;
}




.app-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.app-container h1 {
    color: var(--primaryColor);
    font-family: 'Hyundai Sans Head Office';
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.app-container .store {
    margin-bottom: 1rem;
}

.find-friends {
    display: flex;
    flex-direction: column;
}

.app-location {
    background-color: var(--primaryColor);
    height: 176px;
}

.add-location {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.add-location h1 {
    color: white;
    font-family: 'Hyundai Sans Head Office';
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.add-location p {
    color: white;
    font-family: 'Hyundai Sans Head  Office';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    margin-bottom: 30px;
}

.add-location button {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--primaryColor);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 40px;
    transition: .2s ease-in;
}

.add-location button:hover {
    background-color: var(--hoverColor);
    color: #fff;
}

.find-pet-container .match {
    color: var(--primaryColor);
    font-family: 'Hyundai Sans Head Office';
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

}

.find-match {
    margin-top: 1rem;
    width: 65vw;
}

.find-pet-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.find-pet-container img {
    max-width: 100%;

}


.category-title {
    margin-bottom: 10px;
}

.child-categories {
    background-color: var(--primaryColor);
    height: 244px;
    position: relative;
}

.child-categories img {
    position: absolute;
    right: 1rem;
    top: -6px;
}

.child-categories h1 {
    color: white;
    font-family: 'Hyundai Sans Head Office';
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}

.child-categories p {
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 4.375rem;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
    transition: .3s ease-in;
}

.btn:hover {
    color: var(--hoverColor);
}

.categories-information {
    padding: 20px;
}


.feedback {
    padding: 10px 9px;
}

.feedback-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.see-all {
    color: var(--primaryColor);
}

.see-all:hover {
    color: #c77dff;
}

.cat-feed {
    color: var(--primaryColor);
    font-size: 23px;
    font-weight: bold;
    margin-left: 10px;

}

.cards {
    display: flex;
    flex-direction: column;
    padding: 10px 9px;

}

.items {
    border-radius: 9px;
    margin-bottom: 20px;
    width: 100%;

}

.card-items {
    background-color: #ffff;
    border: 1.82339px solid rgba(94, 64, 164, 0.18);
    box-shadow: 0px 13.6754px 27.3508px rgba(94, 64, 164, 0.14);
    height: 260px;
}

.card-items:last-child {
    margin-bottom: 40px;
}

.app-group {
    min-height: 400px;
    position: relative;
}

.app-group img {
    position: absolute;
}

.app-group .help {
    left: 55px;
}

.app-group .map {
    right: 0;
    top: 38px;
}

.icon-group {
    margin: 17px 0 15px 18px;
}

.icon-group img:not(:last-child) {
    margin-right: 5px;
}

.card-items h3 {
    color: #444444;
    font-family: inherit;
    font-size: 20px;
    margin-left: 20px;
}

.feedback-text {
    color: #7C7C7C;
    padding: 10px 17px;
}

.person-feed {
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.person-feed img {
    margin-right: 8px;
}

.person-feed span {
    color: #444444;
    font-weight: bold;
}


footer {
    padding: 10px 20px 100px 20px;
}

footer .app-store-icon {
    display: none;
}

.copyright{
    display: none;
}

footer .web-logo {
    margin-bottom: 25px;
    color: var(--primaryColor);
    font-size: 26px;
}

.links-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.links-list a {
    color: var(--primaryColor);
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
}

footer .social-icons {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.play-store-icon {
    display: none;
}
.group-appstore{
    margin-bottom: 30px;
}

.social-link{
    display: none;
}
.social-icon{
}
/* ************Media queries************************* */

@media (min-width:64rem) {

    .nav-menu img {
        width: 100px;
    }

    .download-app {
        padding: 30px 0 0 0;
    }

    .find-friends {
        margin: 20px 0 100px 0;
        flex-direction: row;
    }

    .find-friends .app-store {
        margin: 0 20px 0 0;
    }

    .find-friends img {
        width: 250px;
    }

    .app-container h1 {
        font-size: 62px;
    }



    .app-group {
        display: none;
    }

    .app-location {
        height: 260px;
    }

    .add-location {
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px 0 0 0;
    }

    .add-location h1 {
        font-size: 40px;
    }

    .add-location p {
        font-size: 22px;
    }

    .add-location button {
        font-size: 25px;
    }

    .location-content {
        margin-top: 10px;
    }

    .find-pet-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .find-match {
        width: auto;
    }

    .items {
        margin-left: 10px;
    }

    .cards {
        flex-direction: row;
    }

    .cat-feed {
        margin-left: 20px;
    }

    .child-categories {
        margin-bottom: 0;
    }

    .child-categories p {
        margin-bottom: 1rem;
        font-size: 18px;
    }

    .child-categories h1 {
        font-size: 24px;
        margin-bottom: 22px
    }

    .learn-more {
        font-size: 18px
    }

    .categories {
        margin-bottom: 50px;
    }

    .see-all {
        margin-right: 10px;
    }

    .links .btn {
        color: white;
    }

    footer {
        background: var(--primaryColor);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer .web-logo {
        margin-bottom: 25px;
        color: white;
        font-size: 32px;
    }

    footer .app-store-icon {
        display: inline;
        margin: 0 15px 0 0;
    }

    .app-container .store {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .play-store-icon {
        display: inline-block;
    }

    .group-appstore{
        display: none;
    }

    .social-link{
        display: block;
    }

    .social-icon{
        display: none;
    }

    footer {
        padding: 42px 20px 100px 20px;
    }
}